<h1 mat-dialog-title>Password Change Request</h1>
<div mat-dialog-content>
  <p>Password should contain minimum eight characters,<br> at least one letter and one number</p>
  <form [formGroup]="passwordForm">
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input type="password" id="password" name="password"
             formControlName="password" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Repeat Password</mat-label>
      <input matInput id="repeatedpassowrd" name="repeatedpassword"
             formControlName="repeatedpassword" type="password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button id="submit" (click)="onSubmitClick()">Submit</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
