#main {
  display: block;
}

.front {
  position: relative;
  overflow: hidden;
}

.landing {
  position: relative;
  width: 100%;
  height: 110vh;
  mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 80%,rgba(0,0,0,0) 100%);
}

.search-bar {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 70vh;
}

.filter-comp {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: visible;
  margin: -20vh auto 0 auto;
}

#moto {
  position: absolute;
  top: 34vh;
  left: 15vw;
  color: whitesmoke;
  font-size: xxx-large;
}

#person {
  position: absolute;
  top: 44vh;
  left: 60vw;
  color: whitesmoke;
  font-size: xx-large;
}

#sort {
  width: 18vw;
  margin-left: 16vw;
  margin-top: 4rem;
}

mat-paginator {
  margin: 1.2rem 0 0 0;
  display: flex;
  justify-content: center;
}

#list {
  margin-top: 19rem;
}
