<div class="accommodation-card">
  <div class="column-left">
    <img class="accommodation-image" src="../../../../assets/images/accommodation.png">
  </div>
  <div class="column-center">
    <p class="subtitle">Apartment</p>
    <div class="inline">
      <p class="title">Park House Apartments</p>
      <meter class="average-rating" min="0" max="5" value="4.3"></meter>
    </div>
    <p class="subtitle">47 N Row, London W1K 6DG, United Kingdom</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque porttitor convallis rhoncus. Nunc semper, justo a
      bibendum luctus. Lorem ipsum dolor sit amet. Nunc semper, justo a
      bibendum luctus. Lorem ipsum dolor sit amet. Nunc semper, justo a
      bibendum luctus. Lorem ipsum dolor sit amet. Nunc semper, justo a
      bibendum luctus. Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="column-right">
    <p class="price-per">150 EUR per day</p>
    <p class="price">350 EUR</p>
    <button class="details-button" routerLink="/accommodation">Details</button>
  </div>
</div>
