
Bookify/.idea/compiler.xml
Bookify/.idea/encodings.xml
Bookify/.idea/jarRepositories.xml
Bookify/.idea/misc.xml
Bookify/.idea/workspace.xml
Bookify/.idea/vcs.xml
bookify/bookify-server/src/main/resources/application.properties
