.wrapper {
    width: 70%;
    margin: 30vh auto 0 auto;
}

.wrapper>* {
    width: 100%;
}

hr {
    border-color: #2e4057;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
}

.submit-button {
    color: rgb(245, 245, 245) !important;
    font-size: medium;
    width: 73%;
    height: 2.8rem;
    border-width: 0px;
    border-radius: 40px;
    background-color: rgb(46, 64, 87) !important;
    cursor: pointer;
    margin: 7vh 0;
}

.submit-button:active {
    background-color: #374b66;
    transform: translateY(4px);
}