<div class="reservation-card" *ngIf="visible">
    <div class="column-left">
        <img class="reservation-image" [src]="image">
    </div>
    <div class="column-center">
        <div class="inline">
            <p class="title">{{ request.accommodationName }}</p>
            <meter class="average-rating" min="0" max="5" style="--percent: calc({{request.avgRating}}/5*100%);"></meter>
        </div>
        <hr />
        <p class="subtitle">Owner: {{request.user.firstName}} {{request.user.lastName}} <span>{{request.user.avgRating}}/5</span></p>
        <p class="subtitle">Date: {{request.start}}-{{request.end}}</p>
        <p class="subtitle">Persons: {{request.guestNumber}}</p>
        <p class="subtitle">Price: {{request.price}} EUR</p>
        <div class="wrapper">
            <p class="description">Status: {{ request.status }}</p>
            <div *ngIf="request.status === 'PENDING'" class="button-wrapper">
                <button class="details-button accept" (click)="onDeletePressed()">Delete</button>
            </div>
        </div>
    </div>
</div>
