.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.certificate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: 1.2rem;
  margin-bottom: 0;
}

.of{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: auto;
}

.scroll {
  overflow: auto;
}