<div class="comment-card">
    <div class="column-left" id="account-pic">
      <img class="image" src="../../../../assets/images/image1.jpg">
    </div>
    <div class="column-center">
      <div class="inline">
        <div>
            <p class="title">Ime</p>
            <p class="date">Datum</p>
        </div>
        <meter class="average-rating" min="0" max="5" style="--percent: calc(4/5*100%);"></meter>
      </div>
      <p class="description">ssslmosfdlkjavszdl;kfjacms;lkdfjc;alks\ nklajsldksfamldxl;</p>
    </div>
    <span class="material-symbols-outlined">cancel</span>
  </div>
  