<div class="container">
    <div class="calendar">
        <div class="calendar-header">
            <span class="year-change" (click)="changeMonth(-1)">
                <pre>&lt;</pre>
            </span>
            <span class="month-picker" id="month-picker">{{ currentMonthName }}</span>
            <span class="year-change" (click)="changeMonth(1)">
                <pre>&gt;</pre>
            </span>
            <div class="year-picker" id="year-picker">
                <span class="year-change" (click)="changeYear(-1)">
                    <pre>&lt;</pre>
                </span>
                <span id="year">{{ currentYear }}</span>
                <span class="year-change" (click)="changeYear(1)">
                    <pre>&gt;</pre>
                </span>
            </div>
        </div>

        <div class="calendar-body">
            <div class="calendar-week-days">
                <div *ngFor="let dayName of dayNames">{{ dayName }}</div>
            </div>
            <div class="calendar-days">
                <div *ngFor="let emptyDay of emptyDays"></div>
                <div *ngFor="let day of daysInMonth" (click)="onDateClick(day)">
                    <span>{{ day }}</span>
                    <span class="price">{{dateTextMap[currentYear+"-"+currentMonth+"-"+day]}}</span>
                </div>
            </div>
        </div>

        <div class="form-wrapper">
            <form [formGroup]="priceForm">
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" name="price" formControlName="price" min="0" />
                </mat-form-field>
                <div class="button-wrapper">
                    <button (click)="add()" class="button">Add</button>
                    <button type="button" (click)="delete()" class="button">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <button class="button" (click)="finish()">Finish</button>
</div>
