<mat-toolbar>
  <span><img id="logo" src="assets/images/logo.png" alt=""></span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button>Home</a>
<!--  <app-navigation-admin></app-navigation-admin>-->
<!--  <app-navigation-guest></app-navigation-guest>-->
<!--  <app-navigation-owner></app-navigation-owner>-->
<!--  <a mat-button><mat-icon fontIcon="notifications_active"></mat-icon>Notifications</a>-->
  <a routerLink="login" mat-button id="login_btn">Login</a>
<!--  <a routerLink="/account" mat-button>Account</a>-->
</mat-toolbar>

