<div class="container">

    <div class="request-info">

        <h5>Subject:</h5>
        <p>{{ data.request.subjectName }}</p>

        <h5>Email:</h5>
        <p>{{ data.request.email }}</p>

        <h5>Locality:</h5>
        <p>{{ data.request.locality }}</p>

        <h5>Country:</h5>
        <p>{{ data.request.country }}</p>

        <h5>Public key:</h5>
        <p>- no endpoint yet -</p>

        <h5>Signature:</h5>
        <p>- no endpoint yet -</p>

        <h5>Serial number:</h5>
        <p>- no endpoint yet -</p>

        <h5>Alias:</h5>
        <p>- no endpoint yet -</p>

        <h5>Extensions:</h5>
        <p>- no endpoint yet -</p>

    </div>

    <button (click)="closeDialog()">OK</button>

</div>

