mat-form-field {
    width: 20vw;
    margin-bottom: 10px;
}

mat-label {
    float: inline-start;
    width: 20vw;
}

.wrapper-item {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0;
}