<div class="wrapper-item">
    <mat-label>Type</mat-label>
    <mat-form-field appearance="fill">
        <mat-select required [(ngModel)]="type" (ngModelChange)="onGuestsChange()">
            <mat-option value="room">Room</mat-option>
            <mat-option value="apartment">Apartment</mat-option>
            <mat-option value="hotel">Hotel</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="wrapper-item">
    <mat-label>Min guests</mat-label>
    <mat-form-field appearance="fill">
        <input matInput required type="number" min="1" [(ngModel)]="minGuests" (ngModelChange)="onGuestsChange()">
    </mat-form-field>
</div>

<div class="wrapper-item">
    <mat-label>Max guests</mat-label>
    <mat-form-field appearance="fill">
        <input matInput required type="number" min="1" [(ngModel)]="maxGuests" (ngModelChange)="onGuestsChange()">
    </mat-form-field>
</div>

<div class="wrapper-item">
    <mat-label>Reservation acceptance</mat-label>
    <mat-button-toggle-group name="reservationAcceptance" [(ngModel)]="reservationAcceptance" (ngModelChange)="onGuestsChange()" aria-label="Reservation Acceptance">
        <mat-button-toggle value="automatic">Automatic</mat-button-toggle>
        <mat-button-toggle value="manual">Manual</mat-button-toggle>
    </mat-button-toggle-group>
</div>