<div class="reservation-card">
    <div class="column-left">
        <img class="reservation-image" src="../../../../assets/images/accommodation.png">
    </div>
    <div class="column-center">
        <div class="inline">
            <p class="title">Scandinavic Havet</p>
            <meter class="average-rating" min="0" max="5" style="--percent: calc(4/5*100%);"></meter>
        </div>
        <hr />
        <p class="subtitle">Guest: Mileva <span>(2 prethodna otkazivanja)</span></p>
        <p class="subtitle">Date: 25.6.2024-27.6.2024.</p>
        <p class="subtitle">Persons: 2</p>
        <p class="subtitle">Incomes: 185 EUR</p>
        <p class="description">Status: Accepted</p>
    </div>
</div>