.card{
  background-color: #D8EBDE;
  padding: 30px;
  border-radius: 30px;
}

.acc-title{
  display: block;
  width: 100%;
  color: #326268;
  font-size: 23px;
  font-weight: bold;
}

button[mat-button]{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  background-color: #2E4057;
  color: white;
}

#notification-settings{
  margin-top: 30px;
  min-height: 100px;
}

.title-underline{
  background-color: #A29D92;
  height: 4px;
  box-shadow: black;
  border-radius: 20px;
  margin: 5px 0;
}

.vertical-item{
  margin-bottom: 15px;
  margin-top: 15px;
}

.option-holder{
  display:flex;
  flex-flow: column;
}
.settings{
  display: flex;
  flex-flow: column;
}

button[mat-button]{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  background-color: #2E4057;
  color: white;
  padding: 5px 25px;
  margin-top: 5px;
  width: 25%;
  align-self: end;
}

mat-checkbox{
  font-size: 18px;
}
