<div id="notification-settings" class="card">
  <label class="acc-title">Notification Settings</label>
  <div class="title-underline"></div>
  <div class="settings">
    <section class="option-holder">
      <mat-checkbox class="vertical-item">New Reservation Request</mat-checkbox>
      <mat-checkbox class="vertical-item">New Profile Rating</mat-checkbox>
      <mat-checkbox class="vertical-item">Reservation Cancellation</mat-checkbox>
      <mat-checkbox class="vertical-item">New Accommodation Rating</mat-checkbox>
    </section>
<!--    <section hidden="hidden" class="option-holder">-->
<!--      <mat-checkbox class="vertical-item">Enable notifications</mat-checkbox>-->
<!--    </section>-->
    <button mat-button>APPLY CHANGES</button>
  </div>
</div>
