.card{
  background-color: #D8EBDE;
  padding: 30px;
  border-radius: 30px;
}

.acc-title{
  display: block;
  width: 100%;
  color: #326268;
  font-size: 23px;
  font-weight: bold;
}

button[mat-button]{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  background-color: #2E4057;
  color: white;
}

#notification-settings{
  margin-top: 30px;
  min-height: 100px;
}

.title-underline{
  background-color: #A29D92;
  height: 4px;
  box-shadow: black;
  border-radius: 20px;
  margin: 5px 0;
}

.option-holder{
  display:flex;
  flex-flow: column;
  margin-left: 1rem;
}

.settings{
  display: flex;
  flex-flow: column;
}

section[class*="option-holder"]:first-child{
  margin-top: 1em;
}

button[mat-button]{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  background-color: #2E4057;
  color: white;
  padding: 5px 25px;
  margin-top: 5px;
  width: 25%;
  align-self: end;
}

mat-checkbox{
  font-size: 18px;
}

.checkbox-wrapper-42 {
  margin: 1rem 0 0 0;
}

.checkbox-wrapper-42 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-42 label {
  display: inline-block;
  color: black;
  font-size: 1.1em;
}

.checkbox-wrapper-42 .cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 2px solid dimgray;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.checkbox-wrapper-42 .cbx:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.checkbox-wrapper-42 .lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
  border-color: transparent;
  background: #2E4057;
  animation: jelly-42 0.6s ease;
}
.checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.checkbox-wrapper-42 .cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
@-moz-keyframes jelly-42 {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly-42 {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly-42 {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly-42 {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
