<div class="wrapper-reservations">
    <app-filter-reservations></app-filter-reservations>
    <app-request-card></app-request-card>
    <app-request-card></app-request-card>
    <app-request-card></app-request-card>
    <app-request-card></app-request-card>
    <app-request-card></app-request-card>
    <app-reservation-card></app-reservation-card>
    <app-reservation-card></app-reservation-card>
    <app-reservation-card></app-reservation-card>
    <app-reservation-card></app-reservation-card>
    <app-reservation-card></app-reservation-card>
</div>