<div class="fpassword-container">
    <div class="fpassword-fpassword">
        <div class="background">
            <img src="../../../../assets/images/background-image.png" alt="image255165" class="background-image" />
            <div class="overlay"></div>
        </div>
        <div class="fpassword-form">
            <div>
                <img src="../../../../assets/images/logo_login_reg.png" alt="image276070" class="logo" />
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" required>
                @if (email.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error>
                }
            </mat-form-field>
            <button routerLink="/login" mat-raised-button type="submit" class="fpassword-button button">RESTART PASSWORD</button>
        </div>
    </div>
</div>
