mat-form-field {
    width: 73%;
}

:host {
    display: contents;
}

.fpassword-container {
    width: 100%;
    display: flex;
    overflow: auto;
    max-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.fpassword-fpassword {
    gap: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}

.background-image {
    width: 100%;
    position: fixed;
    height: 100vh;
}

.fpassword-form {
    margin-top: 15vh;
    left: 13%;
    width: 40vw;
    height: 70vh;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #f5f5f5;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fpassword-form> :first-child {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.logo {
    align-self: center;
    width: 50%;
    border-radius: 15px;
}

.fpassword-button {
    color: rgb(245, 245, 245);
    width: 73%;
    height: 2.8rem;
    border-width: 0px;
    border-radius: 40px;
    background-color: rgb(46, 64, 87);
    cursor: pointer;
}

.fpassword-button:active {
    background-color: #374b66;
    transform: translateY(4px);
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(90deg,
            #2e4057,
            #2e4057,
            rgba(46, 64, 87, 0.49) 68.87%,
            rgba(46, 64, 87, 0));
}

@media(max-width: 991px) {
    .login-form {
        width: 90%;
        left: 5%;
    }
}

@media(max-width: 767px) {
    .login-form {
        top: 144px;
        left: 44px;
        width: 567px;
    }
}

@media(max-width: 479px) {
    .login-form {
        top: 156px;
        left: -46px;
    }
}
