<div class="fpassword-container">
    <div class="fpassword-fpassword">
        <div class="background">
            <img src="../../../../assets/images/background-image.png" alt="image255165" class="background-image" />
            <div class="overlay"></div>
        </div>
        <form class="fpassword-form" [formGroup]="form">
            <div>
                <img src="../../../../assets/images/logo_login_reg.png" alt="image276070" class="logo" />
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" required name="email" required formControlName="email">
                <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('pattern')">Invalid email address</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" class="fpassword-button button" (click)="onSubmit()">RESTART PASSWORD</button>
        </form>
    </div>
</div>
