<div id="main">
  <div class="inline">
    <span class="material-symbols-outlined apartment">apartment</span>
    <p id="title">My accommodations</p>
    <button class="btn create" routerLink="/accommodation/create"><i class="fa fa-plus"></i> Create</button>
    <button class="btn reports" routerLink="/accommodation/reports"><i class="fa fa-bar-chart"></i> Reports</button>
  </div>
  <hr>
  <div *ngFor="let accommodation of accommodations ">
    <app-owner-accommodations-card [accommodation]="accommodation"></app-owner-accommodations-card>
  </div>
</div>
