<div class="certificate-node">
    <div class="node-header">
        <div class="nodeBorder" (click)="openDetailsAndSelect($event)">
            <span (click)="toggleChildren($event)" class="expand-icon" *ngIf="certificate.children && certificate.children.length > 0">{{ isExpanded ? '▼' : '►' }}</span>
            {{ certificate.subject }}
            <span class="add-icon" *ngIf="!certificate.isEE" (click)="addChild($event)"><mat-icon>note_add</mat-icon></span>
            <span class="delete-icon" (click)="deleteNode($event)"><mat-icon>delete_forever</mat-icon></span>
        </div>
    </div>
    <div class="node-children" *ngIf="isExpanded">
        <app-certificate-node *ngFor="let child of certificate.children" [certificate]="child" (selectedCertificate)="selectCertificate($event)"></app-certificate-node>
    </div>
</div>
