<div id="reserve">
  <p class="subcategory">Reserve</p>
  <hr/>
  <div id="reservation-set">
    <div class="inline">
      <span class="material-symbols-outlined icon">edit_calendar</span>
      <p class="date">Check in</p>
    </div>
    <div class="inline">
      <span class="material-symbols-outlined icon">edit_calendar</span>
      <p class="date">Check out</p>
    </div>
    <div class="inline">
      <span class="material-symbols-outlined icon">person</span>
      <input type="number" value="2">
    </div>
  </div>
  <div id="price">
    <p id="price-value">Price: 350 EUR</p>
    <button id="reserve-button">Reserve</button>
  </div>
</div>
