.mat-elevation-z8 {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 300px;
}

.wrapper {
    padding-bottom: 30px;
}

.material-symbols-outlined {
    cursor: pointer;
}