.main {
  position: relative;
}

.landing {
  /*background-image: url("/assets/images/landing.png");*/
  height: 140vh;
  mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 70%,rgba(0,0,0,0) 100%);
}

.search-bar {
  width: 100%;
  position: absolute;
  top: 70vh;
}

.filter-comp {
  width: 100%;
  position: absolute;
  top: 90vh;
}

#moto {
  position: absolute;
  top: 34vh;
  left: 15vw;
  color: whitesmoke;
  font-size: xxx-large;
}

#person {
  position: absolute;
  top: 44vh;
  left: 60vw;
  color: whitesmoke;
  font-size: xx-large;
}
