<div>
  <div class="front">
    <img src="././assets/images/landing.png" class="landing"/>
    <p id="moto">Live life with no excuses, travel with no regret.</p>
    <p id="person">- Oscar Wilde</p>
    <app-search class="search-bar"></app-search>
    <p class="subtitle top-dest">Top Destinations</p>
  </div>
  <div id="top-destinations">
    <div class="list">
      <app-top-destination class="margin-right"></app-top-destination>
      <app-top-destination class="margin-right"></app-top-destination>
      <app-top-destination></app-top-destination>
    </div>
  </div>
  <div id="top-accommodation">
    <p class="subtitle top-acc">Top Accommodations</p>
    <div class="list">
      <app-top-accommodation></app-top-accommodation>
      <app-top-accommodation></app-top-accommodation>
      <app-top-accommodation></app-top-accommodation>
    </div>
  </div>
</div>
