<div class="search-card">
    <div class="inline">
      <mat-form-field appearance="outline" id = "acc">
        <mat-label>Accommodation</mat-label>
        <mat-select>
<!--          [(ngModel)]="sort" (ngModelChange)="onSortChange()"-->
<!--          <mat-option value="Name">Name</mat-option>-->
<!--          <mat-option value="Lowest">Price lowest to highest</mat-option>-->
<!--          <mat-option value="Highest">Price highest to lowest</mat-option>-->
        </mat-select>
      </mat-form-field>
    </div>
    <app-datapicker-range class="date-picker"></app-datapicker-range>
    <div class="filters">
        <div class="checkbox-wrapper-42">
            <input id="cbx-pending" type="checkbox" />
            <label class="cbx" for="cbx-pending"></label>
            <label class="lbl" for="cbx-pending">Pending</label>
        </div>
        <div class="checkbox-wrapper-42">
            <input id="cbx-accepted" type="checkbox" />
            <label class="cbx" for="cbx-accepted"></label>
            <label class="lbl" for="cbx-accepted">Accepted</label>
        </div>
        <div class="checkbox-wrapper-42">
            <input id="cbx-rejected" type="checkbox" />
            <label class="cbx" for="cbx-rejected"></label>
            <label class="lbl" for="cbx-rejected">Rejected</label>
        </div>
    </div>
    <button class="button-right">Filter</button>
</div>
