<form [formGroup]="createAvailabilityForm">
    <mat-form-field>
        <mat-label>Check in</mat-label>
        <input matInput type="date" name="checkOut" formControlName="checkIn" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Check out</mat-label>
        <input matInput type="date" name="checkIn" formControlName="checkOut" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" formControlName="price" min="0" />
    </mat-form-field>
    <mat-error *ngIf="createAvailabilityForm.get('checkIn')!.hasError('datePast')">
        {{ createAvailabilityForm.get('checkIn')!.getError('message') }}
    </mat-error>
    <mat-error *ngIf="createAvailabilityForm.get('checkOut')!.hasError('dateComparison')">
        {{ createAvailabilityForm.get('checkOut')!.getError('message') }}
    </mat-error>
</form>
<button (click)="create()" class="submit-button" color="primary" type="submit" mat-raised-button>Create</button>