<button  (click)="new()" class="submit-button prvo" color="primary" type="submit" mat-raised-button>New</button>
<form [formGroup]="createAvailabilityForm">
    <mat-form-field>
        <mat-label>Check in</mat-label>
        <input matInput type="date" name="checkIn" formControlName="formattedStartDate" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Check out</mat-label>
        <input matInput type="date" name="formattedEndDate" formControlName="formattedEndDate" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" formControlName="price" min="0" />
    </mat-form-field>
    <mat-error *ngIf="createAvailabilityForm.get('formattedStartDate')!.hasError('datePast')">
        {{ createAvailabilityForm.get('formattedStartDate')!.getError('message') }}
    </mat-error>
    <mat-error *ngIf="createAvailabilityForm.get('formattedEndDate')!.hasError('dateComparison')">
        {{ createAvailabilityForm.get('formattedEndDate')!.getError('message') }}
    </mat-error>
</form>
<button *ngIf="!shouldEdit" (click)="create()" class="submit-button" color="primary" type="submit" mat-raised-button>Submit</button>
<button *ngIf="shouldEdit" (click)="update()" class="submit-button" color="primary" type="submit" mat-raised-button>Submit</button>