<div>
  <div class="inline">
  <p id="hotel-name">Scandinavic Havet Hotel</p>
    <meter class="average-rating" min="0" max="5" value="4.3"></meter>
  </div>


  <div class="slideshow-container">
    <div class="slide">
      <img src="assets/images/accommodation.png" alt="Image 1">
    </div>
    <div class="slide">
      <img src="assets/images/accommodation.png" alt="Image 2">
    </div>
    <div class="slide">
      <img src="assets/images/landing.png" alt="Image 3">
    </div>
    <a class="prev" onclick="prevSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
  </div>
  <div class="two-part">
    <div id="amenities">
      <p class="subcategory white">Amenities</p>
      <hr class="white-back"/>
    </div>
    <div id="location">
      <p class="subcategory white">Location</p>
      <hr class="white-back"/>
    </div>
  </div>
  <div class="two-part">
    <div id="description">
      <p class="subcategory">Description</p>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque porttitor convallis rhoncus.
        Nunc semper, justo a bibendum luctus, lorem arcu accumsan massa,
        sed scelerisque lorem felis nec quam. Curabitur at magna metus.
        Pellentesque habitant morbi tristique sene.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque porttitor convallis rhoncus.
        Nunc semper, justo a bibendum luctus, lorem arcu accumsan massa,
        sed scelerisque lorem felis nec quam. Curabitur at magna metus.
        Pellentesque habitant morbi tristique sene.</p>
    </div>
    <div id="owner">
      <p class="subcategory">Owner</p>
      <hr/>
    </div>
  </div>
</div>




<script>
  let slideIndex = 1;
  showSlides(slideIndex);function plusSlide(n) {
    showSlides(slideIndex += n);
  }function showSlides(n) {
    let i;
    const slides = document.getElementsByClassName("slide");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";
  }function prevSlide() {
    plusSlide(-1);
  }function nextSlide() {
    plusSlide(1);
  }
</script>
