<div>
  <div class="inline">
  <p id="hotel-name">Scandinavic Havet Hotel</p>
    <meter class="average-rating" min="0" max="5" value="4.3"></meter>
  </div>

  <div #contrainer id="image-slider" [ngStyle]="{width: 800 +'px', height: 400 + 'px'}">
  <ng-image-slider #nav
                   [images]="imageObject"
                   [infinite]="false"
                   [autoSlide]="1"
                   [manageImageRatio]=false
                   [imageSize]="{width: contrainer.style.width, space:0, height: 400 + 'px'}"
                   slideImage="1"></ng-image-slider>
  </div>


  <div class="two-part">
    <div id="amenities">
      <p class="subcategory white">Amenities</p>
      <hr class="white-back"/>
    </div>
    <div id="location">
      <p class="subcategory white">Location</p>
      <hr class="white-back"/>
    </div>
  </div>
  <div class="two-part">
    <div id="description">
      <p class="subcategory">Description</p>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque porttitor convallis rhoncus.
        Nunc semper, justo a bibendum luctus, lorem arcu accumsan massa,
        sed scelerisque lorem felis nec quam. Curabitur at magna metus.
        Pellentesque habitant morbi tristique sene.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque porttitor convallis rhoncus.
        Nunc semper, justo a bibendum luctus, lorem arcu accumsan massa,
        sed scelerisque lorem felis nec quam. Curabitur at magna metus.
        Pellentesque habitant morbi tristique sene.</p>
    </div>
    <div id="owner">
      <p class="subcategory">Owner</p>
      <hr/>
    </div>
  </div>
</div>
