.inline {
  margin-top: 2rem;
  justify-content: center;
  display: flex;
}

#hotel-name {
  margin: 0;
  font-size: xx-large;
}

.average-rating {
  position: relative;
  margin-left: 2vw;
  appearance: none;
  color: transparent;
  display: inline-block;
}

.average-rating::before {
  --percent: calc(4.3/5*100%);
  content: '★★★★★';
  font-size: 1.6rem;
  background:
    linear-gradient(90deg, #326268 var(--percent), rgba(0,0,0,0.2) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.two-part {
  display: flex;
  width: 80%;
  margin: 2rem auto 0 auto;
  justify-content: center;
}

#amenities {
  width: 24rem;
  height: 16rem;
  border-radius: 1rem;
  background-color: #326268;
  margin-right: 1rem;
  float: left;
  padding: 1rem;
}

#location {
  margin-left: 1rem;
  width: 24rem;
  height: 16rem;
  border-radius: 1rem;
  background-color: #326268;
  float: right;
  padding: 1rem;
}

#description {
  margin-right: 1rem;
  width: 24rem;
  height: auto;
  padding: 1rem;
  float: left;
}

#owner {
  margin-left: 1rem;
  width: 24rem;
  height: 16rem;
  padding: 1rem;
  float: right;
}

hr {
  width: 14rem;
  height: 0.2rem;
  background-color: darkgrey;
  border-radius: 1rem;
  border: 0;
  margin: 0 0 0 1vw;
  font-size: 1rem;
  justify-content: left;
}

.subcategory {
  font-size: large;
  margin: 0.2rem;
}

.white {
  color: #D8EBDE;
}

.white-back {
  background-color: #D8EBDE;
}

img {
  object-fit: contain;
}

#image-slider {
  justify-content: center;
  margin: 2rem auto 0 auto;
  object-fit: contain;
}
