<div id="footer">
  <img src="../../../assets/images/footer.png" id="footer-image">
  <div id="content">
    <img src="../../../assets/images/phone.png" id="phone">
    <div id="moto-text">
      <p id="moto">Best app for all your<br>travel needs</p>
      <br>
      <p id="text">Book hotels and apartments all over<br>the world, for the best price.
        <br><br>
        Now available as an Android<br>application on Play Store!</p>
      <br>
    </div>
  </div>
  <p id="copyright">&copy; Bookify Corporation</p>
</div>
